[submodule "bundle/python.vim"]
	path = bundle/python.vim
	url = git://github.com/vim-scripts/python.vim.git
[submodule "bundle/pydoc.vim"]
	path = bundle/pydoc.vim
	url = git://github.com/vim-scripts/pydoc.vim.git
[submodule "bundle/NERDTree"]
	path = bundle/NERDTree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/ScrollColors"]
	path = bundle/ScrollColors
	url = git://github.com/vim-scripts/ScrollColors.git
[submodule "bundle/django.vim"]
	path = bundle/django.vim
	url = git://github.com/vim-scripts/django.vim--Ronacher.git
[submodule "bundle/jinja.vim"]
	path = bundle/jinja.vim
	url = git://github.com/vim-scripts/Jinja.git
[submodule "bundle/pythoncomplete"]
	path = bundle/pythoncomplete
	url = git://github.com/vim-scripts/pythoncomplete.git
[submodule "bundle/color-sampler-pack"]
	path = bundle/color-sampler-pack
	url = git://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "bundle/blackboard.vim"]
	path = bundle/blackboard.vim
	url = git://github.com/vim-scripts/blackboard.vim.git
[submodule "bundle/tasklist"]
	path = bundle/tasklist
	url = git://github.com/vim-scripts/TaskList.vim.git
[submodule "bundle/pyflakes.vim"]
	path = bundle/pyflakes.vim
	url = git://github.com/vim-scripts/pyflakes.vim.git
[submodule "bundle/htmljinja"]
	path = bundle/htmljinja
	url = git://github.com/ocim/htmljinja.vim.git
[submodule "bundle/solarized-colors"]
	path = bundle/solarized-colors
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/html.vim"]
	path = bundle/html.vim
	url = https://github.com/xenoterracide/html.vim.git
[submodule "bundle/mako.vim"]
	path = bundle/mako.vim
	url = https://github.com/vim-scripts/mako.vim.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
