[submodule "bundle/pyflakes"]
	path = bundle/pyflakes
	url = git://github.com/vim-scripts/pyflakes.git
[submodule "bundle/python.vim"]
	path = bundle/python.vim
	url = git://github.com/vim-scripts/python.vim.git
